:root {
    --grey: #E2E8F0;
    --yellow: #FACC15;
    --white: #FFFFFF;
}

.card {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: column;
    text-align: center;
    gap: 32px;
    max-width: 775px;
    padding: 64px;

    h1 {
        font-family: "Merriweather", serif;
        font-size: 24px;
        font-weight: bold;
    }

    span {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-wrap: balance;
    }
}

.stars {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    gap: 32px;
}

.star {
    svg {
        fill: var(--grey);

        &[data-state="filled"] {
            fill: var(--yellow);
        }
    }
}
